syntax: glob
*.suo
_UpgradeReport_Files/
TestResults/
*.csproj.user
*.DotSettings.user
*.orig
*.bak
*/Thumbs.db
logs/*
deploy/
**/obj/
**/bin/
Mosaic.Client.UpdateService/Downloads
.vs/*
**/.vs/*
squirrel_packages/*
Releases/*
InstallerScripts/Temp/
CoverReport/
InstallerScripts/Packages/
InstallerScripts/installers/
opencover-report.xml
Test_result.xml
build/*
*.user
mdWidgets/*
installers/
packages/
InstallerScripts/squirrel.windows*/tools/SquirrelSetup.log
/UI/Mosaic.Client.Auth/job_scheduling_data_2_0.xsd
